@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none; 
} */

/* .layout {
  
} */
html {
  overflow: hidden;
}
.swiper-slide .swiper-slide-active {
  width: 59.25px;
  margin-right: 0px;
}
